@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);

* {
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    color: #fff;
    background-color: #000
}

header {
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 362px;
}

a, a:hover, a:visited {
    color: unset;
    text-decoration: none;
}

.dsmeta-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmeta-logo-container img {
    width: 235px;
}

.dsmeta-logo-container h1 {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 700;
}

.dsmeta-logo-container p {
    font-size: 14px;
    font-weight: 300;
}

.dsmeta-logo-container a:hover {
    color: #ff7c00;
}

.dsmeta-card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}

.dsmeta-card h2 {
    color: #676fff;
    font-size: 24px;
    margin-bottom: 20px;
   /* text-align: center; */
}

.dsmeta-card-container {
    width: 100%;
    min-width: 362px; /* Tamanho mínimo do meu container */
    max-width: 900px; /* Tamanho máximo do meu container */
    margin: 0 auto; /* Colocando dessa forma, faz com que meu div fique centralizado na tela. */
}

.dsmeta-card-input-control-container {
    margin-bottom: 10px;
    max-width: 300px;
   /* margin: 0 auto;
    padding: 10px; */
}

.dsmeta-card-input-control {
    height: 46px;
    width: 100%;
    background-color: #1b2531;
    border: 1px solid #384459;
    border-radius: 5px;
    color: #9aaabe;
    padding: 0 20px;
    margin: 5px 0;
    font-size: 18px;
}

.dsmeta-card-input-control-label {
   font-size: 14px;
   font-weight: 700;
}

.dsmeta-sales-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 35px 0;
}

.dsmeta-sales-table thead {
    height: 55px;
    font-size: 16px;
    color: #e9e9e9;
    font-weight: 700;
}

.dsmeta-sales-table tbody {
    font-size: 14px;
    font-weight: 400;
    color: #cfcfcf;
    text-align: center;
}

.dsmeta-sales-table tbody tr { /* Se não colocarmos tbody tr, e só tr, a primeira linha também assume a mesma configuração */
    height: 55px;
    border-top: 1px solid #5f6e82;
}

.dsmeta-sales-table tbody tr:nth-child(odd) { /* Quando a linha for ímpar (odd), ela vai assumir as estilizações descritas aqui */
    background-color: #242c3b;
}

.dsmeta-sales-table tbody tr:hover {
    background-color: #384459;
}

.dsmeta-sales-table-btn-container {
    display: flex;
    justify-content: center;
}

.dsmeta-sales-table-btn {
    height: 35px;
    width: 35px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #ff6b72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmeta-sales-table-btn img {
    width: 16px;
}

.dsmeta-show-576px {
    display: none;
}

.dsmeta-show-992px {
    display: none;
}

@media (min-width: 576px) { /* Esse comando faz com que o meu elemento, aqui sendo a coluna, apareça se a tela estiver com tamanho de - no mínimo - 576px */
    .dsmeta-show-576px {
        display: table-cell;
    }

    .dsmeta-card {
        padding: 35px;
    }

    .dsmeta-sales-table tbody tr {
        height: 74px;
    }

    .dsmeta-sales-table-btn {
        height: 45px;
        width: 45px;
    }

    .dsmeta-sales-table-btn img {
        width: 19px;
    }

    .dsmeta-sales-table tbody {
        font-size: 18px;
}

@media (min-width: 992px) { 
    .dsmeta-show-992px {
        display: table-cell;
    }
}

#sales {
    padding: 40px 10px; /* Ordem: 1- Superior (40); 2- Laterais (10) */
}